.buttons{
  display: grid;
  grid-template-rows: auto; /* Cada item terá altura automática */
  row-gap: 40px;
  position: relative;
  left:-190px;
  top:-15px;
  font-size: 20px;
  font-weight:700;
  text-align: center;
}


.botao {
  color: white;
  width: 250px;
  background-color: rgba(217, 217, 217, 0.2);
  border-radius: 30px;
  padding: 15px;
}


.botao:hover,
.botao:focus {
  opacity: 1;
  transform: scale(1.2);
  transition: transform 0.3s ease;
}
.button {
  position: fixed;
  bottom: 80px; 
  right: 30px;
  cursor: pointer;
  opacity: 0.5;
  transition: transform 0.5s ease-in-out; 
} 


.image {
  width: 100px;
  height: 100px;
  transition: transform 0.3s ease;
}
.image:hover {
  transform: scale(1.2);
}

.logo{
  margin-top: -20px;
}

.principal{
  display: grid;
  position: relative;
  top: -120px;
  left: 2%;
  width: 900px;
}

.texto{
  color: white;
}
