.certificadoContainer {
  padding: 20px;
  text-align: center;
}

.conclusao {
  font-size: 2rem; /* Tamanho original */
  font-weight: bold;
  font-style: italic;
  color: white;
  margin-bottom: 20px;
}

.certificadoImage {
  margin-bottom: 20px;
}

.voltarButton {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  background-color: #0070f3;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.voltarButton:hover {
  background-color: #005bb5;
}

.imagem {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .conclusao {
    font-size: 1.2rem; /* Tamanho reduzido para telas menores */
  }

  .voltarButton {
    font-size: 0.9rem;
    padding: 8px 16px;
  }
}
