.estante1,.estante2{
    display: grid;
    position: relative;
    top:-340px;
    right: -280px;
    width: 720px;
    row-gap: 20px;
}


.livros1{
    display: grid;
    position: relative;
    align-items: center;
    grid-template-columns: repeat(3, 20.33%);
    grid-gap: 10px;
    right: -300px;
    bottom: 330px;    
}

.livros2{
    display: grid;
    position: relative;
    align-items: center;
    grid-template-columns: repeat(5,11%);
    grid-gap: 20px;
    bottom: 330px;
    right: -300px;
}

.selecionar{
    transition: transform 0.3s ease;
}

.selecionar:hover{
    transform: scale(1.1);
}

.texto1,.texto2{
    color: white;
    font-size: large;
    margin: 0;
    display: grid;
    width: 250px;
    position: relative;
}

.texto2{
    gap: 250px;
    bottom:-150px;
}

.texto1{
    font-size: 20px;
    font-weight: 600;
}

