@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.header {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 150px; 
  animation: fadeInUp 1s ease-out; /* Adiciona a animação aqui */
}

.logo {
  width: 250px;
  max-height: 150px; 
  position: relative;
  margin: 0;
  right: -920px;
  z-index: 0;
  top: -38px;
}

.content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  animation: fadeInUp 1s ease-out; /* Adiciona a animação aqui */
  gap: 4rem;
}

.posicoes {
  display: flex-center;
  align-items: center;
  width: 100%;
}

.podcast img {
  position: relative;
  right: -555px;
  top: -144px;
  width: 20vh;
  margin-bottom: 5px;
  
}

.livro {
  position: relative;
  left: -290px;
  width: 17vh;
  top: -15px;
}

.artigo {
  position: relative;
  right: -637px;
  width: 13.5vh;
  top: -95px;
  margin: 0;
  animation: fadeInUp 1s ease-out;
}

.h1 {
  color: #fff;
  font-size: 2.5rem; /* Tamanho da fonte */
  margin-top: 40px; /* Espaçamento superior */
  margin-bottom: 20px; /* Espaçamento inferior */
  text-align: center;
  position: relative;
}

.link {
  color: #fff;
  text-decoration: none;
}

.imagem {
  max-width: 550px;
  display: flexbox;
  position: relative;
  top: px;
  left: -160px;
}

.recomend {
  color: white;
  font-size: 30px;
  font-weight: 600;
  margin: 0;
  position: relative;
  right: -50px;
  text-decoration: underline;
  font-style: italic;
}

/* Estilos para os novos botões */
.additionalButtons {
  display: flex;
  justify-content: center;
  gap: 100px; /* Espaçamento entre os botões */
  margin-top: 11%;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.additionalButtons button {
  background: none;
  border: none;
}

.additionalButtons img {
  width: 200px; /* Ajuste o tamanho conforme necessário */
  height: auto;
}


.buttonTitle {
  color: white;
  font-size: 1.2rem; /* Tamanho da fonte do título */
  margin-top: 10px; /* Espaçamento superior do título */
}

/* Media Query para dispositivos móveis */
@media (max-width: 768px) {
  .additionalButtons {
    flex-direction: column;
    gap: 20px; /* Reduz o espaçamento entre os botões */
    margin-top: 20px; 
  }

  .additionalButtons img {
    width: 150px; /* Ajuste o tamanho conforme necessário para dispositivos móveis */
  }
}
